.App {
  text-align: center;
}
i{
  color: #fff;
  size: 10px;
}

list-group-item{
  color: black;
  background-color: aqua;
}

form-control{
  font-size: medium;
  background-color: red;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
select option[value=""] {
  background: rgba(92, 52, 1, 0.754);
}

.fa-trash {
  color: black;
}
select option[value="Ano(s)"] {
  background: rgba(43, 13, 68, 0.754);
}
select option[value="Gato"] {
  background: rgba(43, 13, 68, 0.754);
}
select option[value="Cachorro"] {
  background: rgba(43, 13, 68, 0.754);
}
select option[value="Femea"] {
  background: rgba(43, 13, 68, 0.754);
}
select option[value="Macho"] {
  background: rgba(43, 13, 68, 0.754);
}
select option[value="Meses"] {
  background: rgba(43, 13, 68, 0.754);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
